---
---
// Overall
body
  display: flex
  min-height: 100vh
  flex-direction: column

a
  color: #bdbdbd

a:hover
  text-decoration: underline

a:active
  text-decoration: underline

main
  flex: 1 0 auto

header,
main,
footer
  padding-left: 300px

.container
  width: 90%


// Header
header
  height: 80px
    
  .userView
    section
      flex-direction: column
      max-width: 100%
      overflow: hidden
      gap: 10px
      
      a+span
        line-height: normal
        margin-top: 10px
      
      span
        word-break: break-word
        color: #ffce00
        font-size: 17px
        font-family: monospace,sans-serif
        font-weight: bold
        background: crimson
        padding: 2px
        text-align: center
        border-radius: 10px
      
  a:hover
    text-decoration: none
  
  .background
    background: #ffce00

a
  &.button-collapse
    &.top-nav
      position: absolute
      text-align: center
      height: 48px
      width: 48px
      top: 0
      float: none
      color: #fff
      font-size: 36px
      z-index: 999
      line-height: 80px



// Misc
blockquote
  border-left-color: teal

main
  ul
    &:not(.browser-default)
      padding-left: 40px

      li
        list-style-type: disc

@media only screen and (max-width: 992px)
  header,
  main
    padding-left: 0
